<!DOCTYPE html>
<html id="html" ng-class="{'menu-active' : $root.navOpened, 'loading' : $root.loading}" class="loading">
  <head>
    <meta charset="utf-8">
      <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
      <meta content="chrome=1" http-equiv="X-UA-Compatible">
      <meta content="notranslate" name="google">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="description" content="">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>ElasticSearch Analyzer testr</title>

	<link href="/styles/vendor.css" rel="stylesheet" />
	<link href="/styles/testr.css" rel="stylesheet" />
	
  </head>
  <body id="body" ng-app="testr">

      <header class="navbar navbar-default">
            <div></div>
              <div class="pull-right">
                  <a ng-click="dialog_url_open=true"><i class="fa fa-gears"></i> Paramètres</a>
              </div>
      </header>

      <div class="clearfix" ng-controller="testr">
          <div class="left-column">
              <div class="__left">
                  <div class="__h clearfix">
                      <h2>Filters</h2>
                      <a ng-click="dialog_filter_add_open=true"><i class="fa fa-folder-open"></i></a>
                      <a ng-click="dialog_filter_add_open=true"><i class="fa fa-plus"></i></a>
                  </div>
                  <my-json-editor ng-model="filters"></my-json-editor>
              </div>

              <div class="__right">
                  <div class="__h clearfix">
                      <h2>Analyzers</h2>
                      <a ng-click="dialog_url_open=true"><i class="fa fa-folder-open"></i></a>
                      <a ng-click="dialog_analyzer_add_open=true"><i class="fa fa-plus"></i></a>
                  </div>
                  <my-json-editor ng-model="analyzers"></my-json-editor>
              </div>
          </div>

          <div class="results pull-right">
              <div class="__h clearfix">
                  <h2>Live test</h2>
              </div>
              <div ng-class="{__body : true, loading : running}">
                  <form ng-submit="run()">
                      <input type="text" class="form-control" placeholder="Enter phrase to analyze.." ng-model="sample" />
                      <div class="clearfix" style="margin-top:5px">
                          <button class="btn btn-success" type="submit">Run Tests</button>
                      </div>
                  </form>
                  <div class="___h"></div>
                  <div class="alert alert-danger" ng-show="error!=null">
                      <i class="fa fa-exclamation-triangle"></i>
                      <p>{{error}}</p>
                  </div>
                  <table class="table table-striped">
                      <tr ng-repeat="test in tests">
                          <td>{{test.title}}</td>
                          <td>
                              <span ng-repeat="token in test.tokens" class="label label-primary">
                                  {{token.token}}
                              </span>
                          </td>
                      </tr>
                  </table>
              </div>
          </div>

          <my-dialog title="Available token filters" open="dialog_filter_add_open">
              <table class="table table-stripped">
                  <tr ng-repeat="filter in availableFilters">
                      <td width="100%">
                          <a ng-click="addFilter(filter)" class="btn btn-primary" title="Add this filter"><i class="fa fa-plus"></i></a>
                          {{filter.title}}
                      </td>
                      <td nowrap><a class="btn btn-default" title="Documentation" href="http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/{{filter.url}}" target="_blank">?</a></td>
                  </tr>
              </table>
          </my-dialog>

          <my-dialog title="New analyzer" open="dialog_analyzer_add_open">
              <form class="form-horizontal" ng-submit="addAnalyzer()">
                  <div class="form-group">
                      <label for="inputNewAnalyzerTokenizer" class="col-sm-2 control-label">Tokenizer:</label>
                      <div class="col-sm-10">
                          <select class="form-control" id="inputNewAnalyzerTokenizer" ng-model="analyzer_new.tokenizer">
                              <option value="standard">Standard</option>
                              <option value="keyword">Keyword</option>
                              <option value="letter">Letter</option>
                              <option value="whitespace">whitespace</option>
                              <option value="uax_url_email">UAX email URL</option>
                              <option value="path_hierarchy">Path hierarchy</option>
                              <option value="whitespace">whitespace</option>
                              <option value="classic">Classic</option>
                          </select>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="inputNewAnalyzerName" class="col-sm-2 control-label">Name:</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputNewAnalyzerName" ng-model="analyzer_new.name">
                      </div>
                  </div>
                  <div>
                      <input type="submit" class="btn btn-success" value="Ok" />
                  </div>
              </form>
          </my-dialog>

      </div>

	  <script src="/scripts/vendor.js"></script>
	  <script src="/scripts/testr.js"></script>

  </body>
</html>