<!DOCTYPE html>
<html id="html" ng-class="{'menu-active' : $root.navOpened, 'loading' : $root.loading}" class="loading">
  <head>
    <meta charset="utf-8">
      <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
      <meta content="chrome=1" http-equiv="X-UA-Compatible">
      <meta content="notranslate" name="google">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="description" content="">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>ElasticSearch Analyzer testr</title>

	<link href="/styles/vendor.css" rel="stylesheet" />
	<link href="/styles/testr.css" rel="stylesheet" />
	
  </head>
  <body id="body" ng-app="testr">

      <header class="navbar navbar-default">
            <div></div>
              <div class="pull-right">
                  <a ng-click="dialog_url_open=true"><i class="fa fa-gears"></i> Paramètres</a>
              </div>
      </header>

      <div class="clearfix" ng-controller="testr">
          <div class="left-column">
              <div class="__left">
                  <div class="__h clearfix">
                      <h2>Filters</h2>
                      <a ng-click="dialog_filter_add_open=true"><i class="fa fa-folder-open"></i></a>
                      <a ng-click="dialog_filter_add_open=true"><i class="fa fa-plus"></i></a>
                  </div>
                  <div  id="inputFilters"
                        ui-ace="{
                          useWrapMode : true,
                          showGutter: true,
                          theme:'github',
                          mode: 'json',
                          firstLineNumber: 10,
                          onLoad: aceLoaded,
                          onChange: aceChanged
                        }" ng-model="filters"></div>
              </div>

              <div class="__right">
                  <div class="__h clearfix">
                      <h2>Analyzers</h2>
                      <a ng-click="dialog_url_open=true"><i class="fa fa-folder-open"></i></a>
                  </div>
                  <div id="inputAnalysers"
                       ui-ace="{
                          useWrapMode : true,
                          showGutter: true,
                          theme:'github',
                          mode: 'json',
                          firstLineNumber: 10,
                          onLoad: aceLoaded,
                          onChange: aceChanged
                        }"
                       ng-model="analyzers"> </div>
              </div>
          </div>

          <div class="results pull-right">
              <div class="__h clearfix">
                  <h2>Live test</h2>
              </div>
              <div ng-class="{__body : true, loading : running}">
                  <form ng-submit="run()">
                      <input type="text" class="form-control" placeholder="Enter phrase to analyze.." ng-model="sample" />
                      <div class="clearfix" style="margin-top:5px">
                          <button class="btn btn-success" type="submit">Run Tests</button>
                      </div>
                  </form>
                  <div class="___h"></div>
                  <table class="table table-striped">
                      <tr ng-repeat="test in tests">
                          <td>{{test.title}}</td>
                          <td>
                              <span ng-repeat="token in test.tokens" class="label label-primary">
                                  {{token.token}}
                              </span>
                          </td>
                      </tr>
                  </table>
              </div>
          </div>

          <div ng-class="{dialog : true, 'dialog--open' : dialog_url_open}">
              <div class="dialog__overlay"></div>
              <div class="dialog__content">
                  <h3><strong>Load</strong> external ressource</h3>
                  <form class="form-horizontal">

                      <div class="form-group">
                          <label for="inputLoadURL" class="col-sm-2 control-label">URL:</label>
                          <div class="col-sm-10">
                              <input type="url" class="form-control" id="inputLoadURL" placeholder="http://...">
                          </div>
                      </div>

                  </form>
                  <div><button class="action btn btn-default" ng-click="dialog_url_open=false">Close</button></div>
              </div>
          </div>

          <div ng-class="{dialog : true, 'dialog--open' : dialog_filter_add_open}">
              <div class="dialog__overlay"></div>
              <div class="dialog__content">
                  <h3>Available <strong>token filters</strong></h3>
                  <div class="__inner_max_height">
                      <table class="table table-stripped">
                          <tr ng-repeat="filter in availableFilters">
                              <td>{{filter.title}}</td>
                              <td><a>select</a> | <a href="http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/{{filter.url}}" target="_blank">documentation</a></td>
                          </tr>
                      </table>
                  </div>
                  <div><button class="action btn btn-default" ng-click="dialog_filter_add_open=false">Close</button></div>
              </div>
          </div>

      </div>

	  <script src="/scripts/vendor.js"></script>
	  <script src="/scripts/testr.js"></script>

  </body>
</html>