@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "compass";

$bz_background_red_color: #d13f4b;
$bz_background_green_transparent_color: rgba(13, 205, 191, 0.8);
$bz_background_green_logo: #D9472E;
$bz_background_dark: #474747;
$bz_timeline_bg: #ECECEC;
$blue_1: #57CEE7;
$bz_background_light_gray: #F3F3F5;

$bz_menu_background: #303843;
$bz_menu_background_dark: darken($bz_menu_background, 5%);

$alert-danger-text:              #fff;
$alert-danger-bg:                $bz_background_red_color;
$alert-danger-border:            darken(adjust-hue($bz_background_red_color, -10), 5%);

$alert-success-text:              #fff;
$alert-success-bg:                $bz_background_green_transparent_color;
$alert-success-border:            darken(adjust-hue($bz_background_green_transparent_color, -10), 5%);

$btn-success-bg:                  $blue_1;
$btn-success-border:              $blue_1;

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (960px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;

$information-phone-small: "only screen and (max-width:330px)";
$information-phone: "only screen and (max-width : #{$screen-sm-min})";
$information-tablet: "only screen and (min-width : #{$screen-sm-min})";