<!DOCTYPE html>
<html id="html" ng-class="{'menu-active' : $root.navOpened, 'loading' : $root.loading}" class="loading">
  <head>
    <meta charset="utf-8">
      <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
      <meta content="chrome=1" http-equiv="X-UA-Compatible">
      <meta content="notranslate" name="google">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="description" content="">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>ElasticSearch Analyzer testr</title>

	<link href="/styles/vendor.css" rel="stylesheet" />
	<link href="/styles/testr.css" rel="stylesheet" />
	
  </head>
  <body id="body" ng-app="testr">

      <header class="navbar navbar-default">
            <div></div>
              <div class="pull-right">
                  <a ng-click="dialog_url_open=true"><i class="fa fa-gears"></i> Paramètres</a>
              </div>
      </header>

      <div class="clearfix" ng-controller="testr">
          <div class="left-column">
              <div class="__left">
                  <div class="__h">
                      <h2>Filters</h2>
                      <a ng-click="dialog_url_open=true"><i class="fa fa-folder-open"></i></a>
                  </div>
                  <div  id="inputFilters"
                        ui-ace="{
                          useWrapMode : true,
                          showGutter: true,
                          theme:'github',
                          mode: 'javascript',
                          firstLineNumber: 10,
                          onLoad: aceLoaded,
                          onChange: aceChanged
                        }" ng-model="filters"></div>
              </div>

              <div class="__right">
                  <div class="__h">
                      <h2>Analyzers</h2>
                      <a ng-click="dialog_url_open=true"><i class="fa fa-folder-open"></i></a>
                  </div>
                  <div id="inputAnalysers"
                       ui-ace="{
                          useWrapMode : true,
                          showGutter: true,
                          theme:'github',
                          mode: 'json',
                          firstLineNumber: 10,
                          onLoad: aceLoaded,
                          onChange: aceChanged
                        }"
                       ng-model="analyzers"> </div>
              </div>
          </div>

          <div class="pull-right" style="width: 48%; margin-right: 1%">
              <h2>Live test</h2>
              <div>
                  <input type="text" class="form-control" placeholder="Enter phrase to analyze.." />
              </div>
              <div id="header"></div>
              <br />
              <div id="results">
              </div>
          </div>
      </div>

      <div ng-class="{dialog : true, 'dialog--open' : dialog_url_open}">
          <div class="dialog__overlay"></div>
          <div class="dialog__content">
              <h3><strong>Load</strong> external ressource</h3>
              <form class="form-horizontal">

                  <div class="form-group">
                      <label for="inputLoadURL" class="col-sm-2 control-label">URL:</label>
                      <div class="col-sm-10">
                          <input type="url" class="form-control" id="inputLoadURL" placeholder="http://...">
                      </div>
                  </div>

              </form>
              <div><button class="action btn btn-default" ng-click="dialog_url_open=false">Close</button></div>
          </div>
      </div>

	  <script src="/scripts/vendor.js"></script>
	  <script src="/scripts/testr.js"></script>

  </body>
</html>