<header class="navbar navbar-default">
    <h1 class="pull-left">ElasticSearch TestR
        <small>filters tokenizers analyzers</small>
    </h1>
    <div class="pull-right loading-hide">
        <a ng-href="#/" title="Home page"><i class="fa fa-home" style="margin-left: 3px;"></i></a>
        <a ng-click="openDialog('save')" href="javascript:void(0)" title="Save this index"><i class="fa  fa-save"></i></a>
        <a ng-click="openDialog('about')" href="javascript:void(0)" title="About ElasticSearch Testr"><i class="fa fa-beer"></i></a>
    </div>
</header>

<ui-layout class="loading-hide" style="top: 40px; left:0; right:0; bottom:0"
           options="{ flow : 'row', dividerSize : 5 }">

    <ui-layout-container>

        <ui-layout options="{ flow : 'column', dividerSize : 5 }">
            <ui-layout-container>
                <div class="__h clearfix">
                    <h2><i class="fa fa-filter"></i> Filters</h2>
                    <a ng-click="openDialog('filterAdd')" href="javascript:void(0)"><i class="fa fa-plus"></i></a>
                </div>
                <my-json-editor ng-model="filters"></my-json-editor>
            </ui-layout-container>
            <ui-layout-container>
                <div class="__h clearfix">
                    <h2><i class="fa fa-cut"></i> Tokenizers</h2>
                    <a ng-click="openDialog('tokenizerAdd')" href="javascript:void(0)"><i class="fa fa-plus"></i></a>
                </div>
                <my-json-editor ng-model="tokenizers"></my-json-editor>
            </ui-layout-container>
            <ui-layout-container>
                <div class="__h clearfix">
                    <h2><i class="fa fa-chain"></i> Analyzers</h2>
                    <a ng-click="openDialog('analyzerAdd')" href="javascript:void(0)"><i class="fa fa-plus"></i></a>
                </div>
                <my-json-editor ng-model="analyzers"></my-json-editor>
            </ui-layout-container>
        </ui-layout>

    </ui-layout-container>

    <ui-layout-container class="results">
        <div class="__h clearfix">
            <h2><i class="fa fa-gears"></i> Test</h2>
        </div>
        <div ng-class="{__body : true, loading : running}">
            <form ng-submit="run()">
                <input type="text" class="form-control" placeholder="Enter phrase to analyze.." ng-model="sample"/>

                <div class="__params clearfix">
                    <button class="btn btn-success pull-left" type="submit">Run Tests</button>

                    <label class="pull-left">
                        <input type="checkbox" ng-model="settings.analyze_filters" /> Analyze filters
                    </label>

                    <label class="pull-left">
                        <input type="checkbox" ng-model="settings.enabled_positions" /> Add positions
                    </label>
                </div>
            </form>
            <div class="___h"></div>
            <div class="alert alert-danger" ng-show="error!=null">
                <i class="fa fa-exclamation-triangle"></i>

                <p>{{error}}</p>
            </div>
            <table class="table table-striped">
                <tr ng-repeat="test in tests.analyzers">
                    <td>Analyzer</td>
                    <td><strong>{{test.title}}</strong></td>
                    <td>
                          <span ng-repeat="token in test.tokens">
                              <span class="label label-default" ng-show="settings.enabled_positions">{{ token.position }}</span>
                              <span class="label label-primary">{{token.token}}</span>
                          </span>
                    </td>
                </tr>
                <tr ng-repeat="test in tests.filters">
                    <td>Filter</td>
                    <td><strong>{{test.title}}</strong></td>
                    <td>
                        <span ng-repeat="token in test.tokens">
                          <span class="label label-default" ng-show="settings.enabled_positions">{{ token.position }}</span>
                          <span class="label label-primary">{{token.token}}</span>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </ui-layout-container>

</ui-layout>

<my-dialog id="filterAddDialog" title="Available token filters">
    <table class="table table-stripped">
        <thead>
            <tr>
                <th colspan="2">
                    <input class="form-control" placeholder="Search filter..." ng-model="filtersSearchFilter.title" />
                </th>
            </tr>
        </thead>
        <tr ng-repeat="filter in availableFilters | filter:filtersSearchFilter">
            <td width="100%">
                <a ng-click="addFilter(filter)" class="btn btn-primary" title="Add this filter"><i
                        class="fa fa-plus"></i></a>
                {{filter.title}}
            </td>
            <td nowrap><a class="btn btn-default" title="Documentation"
                          href="http://www.elastic.co/guide/en/elasticsearch/reference/current/{{filter.url}}"
                          target="_blank">?</a></td>
        </tr>
    </table>
</my-dialog>

<my-dialog id="tokenizerAddDialog" title="New tokenizer">
    <table class="table table-stripped">
        <tr ng-repeat="token in availableTokenizers">
            <td width="100%">
                <a ng-click="addTokenizer(token)" class="btn btn-primary" title="Add this tokenizer"><i
                        class="fa fa-plus"></i></a>
                {{token.title}}
            </td>
            <td nowrap><a class="btn btn-default" title="Documentation"
                          href="http://www.elastic.co/guide/en/elasticsearch/reference/current/{{token.url}}"
                          target="_blank">?</a></td>
        </tr>
    </table>
</my-dialog>

<my-dialog id="analyzerAddDialog" title="New analyzer">
    <table class="table table-stripped">
        <tr ng-repeat="token in availableAnalyzers">
            <td width="100%">
                <a ng-click="addAnalyzer(token)" class="btn btn-primary" title="Add this tokenizer"><i
                        class="fa fa-plus"></i></a>
                {{token.title}}
            </td>
            <td nowrap><a class="btn btn-default" title="Documentation"
                          href="http://www.elastic.co/guide/en/elasticsearch/reference/current/{{token.url}}"
                          target="_blank">?</a></td>
        </tr>
    </table>
</my-dialog>

<my-dialog id="aboutDialog" title="About this application">
    <p>Made with love during 2014 Xmas party by <strong>SubitoLabs</strong> team helped by <strong>Thomas Decaux</strong></p>

    <p>
        <ul class="text-left">
            <li>Angular Javascript framework</li>
            <li>Angular UI layout</li>
            <li>ACE editor</li>
            <li>Continuous integration with Grunt tasks</li>
            <li>API with Php / Symfony2 framework / elasticsearch client</li>
            <li>Hosted in the cloud</li>
            <li><a href="http://www.elasticsearch.org" target="_blank">ElasticSearch</a> version 1.4 (plugins ICU / Phonetic)</li>
        </ul>
    </p>

    <p class="text-left">
        If you find a bug or have cool ideas, share it!
    </p>

    <p>
        <a href="https://github.com/subitolabs/elasticsearch-play" target="_blank" class="btn btn-success"><i
                class="fa fa-github"></i> github.com/subitolabs/elasticsearch-play</a>
    </p>

    <hr />

    <h4>Help us to spread the world!</h4>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_sharing_toolbox"></div>
</my-dialog>

<my-dialog id="saveDialog" title="Save this index">
    <div class="alert alert-info text-left">
        <i class="fa fa-save"></i> The index is automatically saved when you run a test, you can bookmark this URL, it's your own index now!
    </div>
</my-dialog>

<my-dialog id="loadingIndexDialog" title="Loading index" class="dialog--open">
    <div class="alert alert-info text-left">
        We are loading the index, it will be automatically saved when you run a test, you can bookmark this URL, it's your own index now!
    </div>
    <br />
    <div class="alert alert-danger" ng-hide="loadingIndexError==null">{{loadingIndexError}}</div>
</my-dialog>