<div id="home">

    <div class="container">

        <div class="row">

            <div class="col-sm-5 text-center">
                <br /><br />
                <img src="http://www.subitolabs.com/assets/imgmin/logo_full_white.png" class="logo" />
                <h2>presents</h2>
            </div>

            <div class="col-sm-7">
                <h1>ElasticSearch TestR, filters - tokenizers - analyzers</h1>
                <p class="catchline">
                    Your best friend to test <strong>elasticsearch analyzers, tokenizers and token filters</strong> online. This tool creates a real ElasticSearch index that you can save/r-open later.
                </p>
            </div>

        </div>



    </div>

    <div class="container">

        <br />

        <h2>Getting started</h2>

        <div class="row">
            <div class="col-lg-3 col-sm-4">
                <h4>Blank session</h4>
                <a class="btn btn-success btn-block" ng-click="openFromScratch()">Start from scratch</a>
            </div>
            <div class="col-lg-3 col-sm-4 col-lg-offset-1">
                <div class="_a">
                    <h4>Open examples</h4>

                    <a class="btn btn-success btn-block" ng-click="openFromSample('basic')">Basic</a>

                    <a class="btn btn-success btn-block" ng-click="openFromSample('french')">French</a>

                    <a class="btn btn-success btn-block" ng-click="openFromSample('path')">Path</a>

                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-lg-offset-1">
                <div class="_a">
                    <h4>Open existing</h4>
                    <form ng-submit="openExisting()">
                        <input type="text" placeholder="Enter session code here" class="form-control text-center" ng-model="formData.index" />

                        <div style="margin-top:10px">
                            <input type="submit" class="btn btn-success btn-block" value="Open existing session" />
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <br />

    </div>

</div>

    <div class="container">

        <h2>Help us to spread the world</h2>

        <div class="text-center">
            <div class="addthis_sharing_toolbox"></div>
        </div>

        <br />

        <div class="row">

            <div class="col-sm-6 testimonial">
                <img src="http://ebuildy.com/img/foto.jpg" />
                <h4>Thomas Decaux, Qwant</h4>
                <p>elasticsearch & Lucene have so many possibilities to explore and play with! This tool allows to test any filters / tokenizer combination very easily and 100% online, I am loving it!</p>
            </div>

            <div class="col-sm-6 testimonial">
                <img src="/images/testimonials/2.jpg" />
                <h4>Peter, Bizlunch CTO</h4>
                <p>Thanks to SubitoLabs, all the team can test easily elasticsearch and improve our relevancy.</p>
            </div>

        </div>

        <br />

        <p class="catchline">You love this product? Tell us on <a href="https://twitter.com/subitolabs" target="_blank">twitter/subitolabs</a></p>

    </div>