<my-dialog id="welcomeDialog" title="Welcome to ElasticSearch online testr" class="dialog--open">
    <p class="text-justify">Your best friend to test <strong>elasticsearch analyzers, tokenizers and token filters</strong> online. This will create a real ElasticSearch index that you can save/r-open later.</p>
    <div class="_a">
        <p>Open elasticSearch index:</p>
        <form ng-submit="open()">
            <input type="text" placeholder="Enter session code here" class="form-control text-center" ng-model="formData.index" />

            <div style="margin-top:10px">
                <input type="submit" class="btn btn-success" value="Open" />
            </div>

        </form>
    </div>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_sharing_toolbox"></div>
</my-dialog>