@import "../variables";

header
{
  background: white;
  height:40px;
  padding: 0 10px;

  h1
  {
    margin-top: 4px;
    font-size: 30px;

    small
    {
      color: $bz_menu_background;
    }
  }

  a
  {
    display: block;
    color: #fff;
    text-align: center;
    background: $blue_1;
    font-size: 1em;
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 15px;
    margin: 5px 5px 0 0;
    line-height: 30px;

    &:hover
    {
      background: #166969;
      color:#fff;
    }
  }
}