@import "../variables";

header
{
  background:$bz_background_green_logo;
  height:40px;
  padding: 0 10px;

  h1
  {
    margin-top: 4px;
    color: #fff;
    font-size: 30px;

    small
    {
      color: $bz_menu_background;
    }
  }

  a
  {
    display: inline-block;
    color: #fff;
    text-align: center;
    background: #1c8b8b;
    margin-top: 2px;
    padding: 5px;
    font-size: 1.3em;
    width: 35px;
    height: 35px;

    &:hover
    {
      background: #166969;
      color:#fff;
    }
  }
}