@import "../variables";

em
{
  font-weight: bold;
  font-style: normal;
}
a.url
{
  color:darkgreen;
}

.left-column
{
  width: 50%;
  position: fixed;
  top: 40px;
  bottom: 0px;
  left: 0px;
  background: $bz_menu_background;
  border-right: 1px solid #E8E8E8;
}

.left-column textarea
{
  height: 100% !important;
}
.left-column > div
{
  position: absolute;
  top:0;
  bottom: 0;
  width: 50%;
}
.left-column > div.__left
{
  left:0;
}
.left-column > div.__right
{
  right:0;
}

.results
{
  background: #fff;

  .__body
  {
    padding: 1%;

    .___h
    {
      height: 40px;
    }

    &.running
    {
      table
      {
        display: none;

      }
    }
  }

  table
  {
    width: 100%;

    span.label
    {
      margin-right: 5px;
    }
  }

  .alert
  {
    position: relative;
    padding-left: 60px;

    i
    {
      font-size: 3em;
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -20px;
    }
  }
}

my-json-editor
{
  position: absolute !important;
  top:30px;
  left:0;
  right:0;
  bottom: 0;

  .ace_editor
  {
    height: 100%;
  }
}

.__h
{
  position: relative;
  color: #fff;
  background: $bz_menu_background;

  h2
  {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    padding-left: 50px;
    float: left;
  }

  a
  {
    display: inline-block;
    float: right;
    height:30px;
    width:30px;
    line-height: 30px;
    color: #fff;
  }
}

.ui-splitbar, body
{
  background: $bz_background_green_logo;
}